{% extends 'base.html'%}
{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form-horizontal" method="POST" role="form">
          {{ form.hidden_tag() }}
        <fieldset>
          <legend>Mail Settings</legend>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Mail Server</label>
            <div class="col-sm-8">
                {{ form.mail_server(class="form-control", placeholder='Mail Server')}}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Username</label>
            <div class="col-sm-8">
              {{ form.username(class="form-control", placeholder='Sender')}}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Password</label>
            <div class="col-sm-8">
              {{ form.password(class="form-control form-control-sm", placeholder='Sender Password') }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Protocol</label>
            <div class="col-sm-3">
              {{ form.protocol(class="form-control", placeholder='Protocol') }}
            </div>

            <label class="col-sm-2 control-label" for="textinput">Port</label>
            <div class="col-sm-3">
              {{ form.port(class="form-control form-control-sm", placeholder='Port') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="pull-right">
                {{ form.submit(class="btn btn-success") }}
              </div>
            </div>
          </div>
          </div>
        </fieldset>
      </form>
    </div>
</div>

{% endblock content %}
